<ion-header >
  <ion-toolbar color="background-color: #01162b;">

  </ion-toolbar>
</ion-header>



<ion-content class="background-image" >
<br>
  <br>
  <ion-title @enterState  class="ion-text-center ion-text">
    <p >Sistema de asistencias duoc</p>
   </ion-title>
<br>
   <br>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>

          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" >Password</ion-label>

          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <br>
        <br>
        <br>
        <br>

        <div style="display: flex; justify-content: center;">



              <ion-button color="#f9b901"  fill="outline" size="large" style=" justify-content: center;" (click)="ingresar()">Ingresar</ion-button>


           </div>
           <br>
    <ion-label>
      <div style="display: flex; justify-content: center;">
        <br>
        <br>
        <a routerLink="">¿Olvido su contraseña?</a>
        <br>
        <br>
      </div>
    </ion-label>
      <ion-label>
        <div style="display: flex; justify-content: center;">
        <br>
        <br>
        <a routerLink="">Registrarse</a>
        <br>
        <br>
        </div>
      </ion-label>


</ion-content>
<ion-footer>
  <ion-toolbar color="black">
    <ion-label>
      <div style="display: flex; justify-content: center;">
      <br>
      <br>
      <a routerLink="">Terminos y condiciones</a>
      <br>
      <br>
      </div>
    </ion-label>


  </ion-toolbar>
</ion-footer>
