ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  background-color: #01162b;

}

ion-title {
text-align: center;
color: #01162b;


}
ion-button{
 background-color:  #01162b;
 color: white;
}


ion-label {
  width: 200px;
  text-align: left;
color: white;

}

ion-input, ion-select {
  color: gray;
  text-align: right;
}

ion-footer {

  background-color: #01162b;
}

